In [1]:
import pandas as pd

In [7]:
df1 = pd.DataFrame([[11,22,33],[2,1,3],[13,12,31]], columns=['A','B','C'])
df1

    A   B   C
0  11  22  33
1   2   1   3
2  13  12  31

In [6]:
df2 = pd.DataFrame([[1,2,3],[2,1,3],[14,12,3]], columns=['X','Y','Z'])
df2

    X   Y  Z
0   1   2  3
1   2   1  3
2  14  12  3

In [15]:
df3 = pd.merge(df1,df2, right_on='Y', left_on='B')

In [16]:
df3

    A   B   C   X   Y  Z
0   2   1   3   2   1  3
1  13  12  31  14  12  3